/* Holiii otra vez */
body{
	position: relative;
	font-family: 'Merriweather Sans', sans-serif;
	color: black;
}

/*menu*/

#navegacion ul li{
	margin-left: -85px;	
	display: inline-block;
}

#navegacion ul li:hover{	
	border-style: none;
	border-bottom: 4px solid red;	
}


#navegacion li{	
	margin-right: 130px;
}

.navbar-nav li:hover{
	padding: 3px;	
}

#navegacion li a{	
	color: black;
	font-weight: bold;
}

.busqueda{
	width: 55px;
	height: 50px;
	background-color: red;	
	float: right;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
}

.linea{
	width: 100%;
	border: 1px solid red;	
}

.menu{
	width: 100%;
	height: 50vh;	
}

.navbar{
	background-color: white;
}

.navbar-brand{	
	color: black;
	display: inline-block;
}
.punto{
	color: red;
	font-size: 65px;
	display: inline-block;
}


/*box 1*/

#seccion1{
	margin-top: -120px;
}

.fotoa{
	background-color: red; 
	color: white;
	font-weight: bold;
	width: 100px;
	height: 30px;
	margin-bottom: -30px;
	padding: 5px 15px;
	position: relative;
}


#fotoc{
	margin-top: 20px;
	margin-right: 140px;
	margin-left: -14px;
}

#fotod{
	margin-top: 20px;
}

